.Element {

}

.Text {
    white-space: pre-wrap;
}

.Header {
    font-size: 1.5rem;
}

.TextArea {
    resize: none;
    padding: 0.5em;
    white-space: pre;
}

.List {

}
.List > * {
    list-style: none;
}
.List > *::before {
    content: "•";
    margin-right: 0.5em;
    font-weight: normal;
    font-style: normal;
 }
.List > *.clickable:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.ComboBox {
    padding: 0.25em;
}

.Image {

}

.Panel {
    display: flex;
    gap: 1em;
}

.Window {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 1rem;
    overflow: hidden;
    background: #e4eef4dd; /* Some light blue found in our CG website */
    border: 1px solid #006bacff; /* TU blue */
}

.Window > :first-child {
    background: #006bac88; /* TU blue */
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.Window > :not(:first-child) {
    margin: 0 1rem 0.5rem 1rem;
    color: black;
}

.Alert {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25vw;
    max-width: 50vw;
    min-height: 25vh;
    max-height: 50vh;
}

.Alert:hover {
    cursor: pointer;
    outline: 0.5rem solid red;
}

.Alert > :not(:first-child) {
    margin: auto 1rem auto 1rem;
    white-space: pre-wrap;
    text-align: center;
}